# Day 5
## Arrays
## Exercise: Level 1

In [1]:
const countries = [
    'Albania',
    'Bolivia',
    'Canada',
    'Denmark',
    'Ethiopia',
    'Finland',
    'Germany',
    'Hungary',
    'Ireland',
    'Japan',
    'Kenya'
  ]
  
  const webTechs = [
    'HTML',
    'CSS',
    'JavaScript',
    'React',
    'Redux',
    'Node',
    'MongoDB'
  ]

1. Declare an empty array;

In [2]:
let arr = [];

2. Declare an array with more than 5 number of elements

In [3]:
let numbers = [7, 6, 5, 4 ,3, 2 ,1]

3. Find the length of your array

In [6]:
numbers.length

7

4. Get the first item, the middle item and the last item of the array

In [8]:
console.log('First element ' + numbers[0])

First element 7

In [9]:
console.log('Last element ' + numbers[numbers.length - 1])

Last element 1

In [10]:
console.log('Middle ítem ' + numbers[parseInt(numbers.length / 2)])

Middle ítem 4

5. Declare an array called mixedDataTypes, put different data types in the array and find the length of the array. The array size should be greater than 5

In [11]:
let mixedDataTypes = ['Daniel' , 28, 'UTPL', true, '1,72', 1993]

mixedDataTypes.length

6

6. Declare an array variable name itCompanies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon

In [1]:
let itCompanies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle' , 'Amazon']

7. Print the array using console.log()

In [14]:
console.log(itCompanies)

[
  'Facebook',
  'Google',
  'Microsoft',
  'Apple',
  'IBM',
  'Oracle',
  'Amazon'
]

8. Print the number of companies in the array

In [15]:
itCompanies.length

7

9. Print the first company, middle and last company

In [16]:
console.log('First company ' + itCompanies[0])

First company Facebook

In [17]:
console.log('Middle company ' + itCompanies[parseInt(itCompanies.length / 2)])

Middle company Apple

In [18]:
console.log('Last company ' + itCompanies[itCompanies.length - 1])

Last company Amazon

10. Print out each company

In [19]:
itCompanies.forEach(element => {
    console.log(element)
});

Facebook
Google
Microsoft
Apple
IBM
Oracle
Amazon

11. Change each company name to uppercase one by one and print them out

In [21]:
itCompanies.forEach(element => {
    console.log(element.toUpperCase())
});

FACEBOOK
GOOGLE
MICROSOFT
APPLE
IBM
ORACLE
AMAZON

12. Print the array like as a sentence: Facebook, Google, Microsoft, Apple, IBM,Oracle and Amazon are big IT companies.

In [22]:
itCompanies.join(', ')

'Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon'

13. Check if a certain company exists in the itCompanies array. If it exist return the company else return a company is not found

In [23]:
console.log(itCompanies.lastIndexOf('Apple') == -1? 'It found':'Not found')

Not found

14. Filter out companies which have more than one 'o' without the filter method

In [1]:
let itCompanies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle' , 'Amazon']

itCompanies.forEach(element => {
    let sumOs = 0;

    // Check every chart if has 'o'
    for (let index = 0; index < element.length; index++) {
        if (element.charAt(index) == 'o'){
            sumOs++;
        }
    }

    // Delete if word has 2 or more 'o'
    if (sumOs >= 2){
        delete itCompanies[itCompanies.indexOf(element)]
    }

    // debugger :)
    console.log(element + ' has ' + sumOs + ' o\'s.')
});

itCompanies

Facebook has 2 o's.
Google has 2 o's.
Microsoft has 2 o's.
Apple has 0 o's.
IBM has 0 o's.
Oracle has 0 o's.
Amazon has 1 o's.

[ <3 empty items>, 'Apple', 'IBM', 'Oracle', 'Amazon' ]

15. Sort the array using sort() method

In [3]:
itCompanies.sort()

[ 'Amazon', 'Apple', 'IBM', 'Oracle', <3 empty items> ]

16. Reverse the array using reverse() method

In [2]:
itCompanies.reverse()

[
  'Amazon',
  'Oracle',
  'IBM',
  'Apple',
  'Microsoft',
  'Google',
  'Facebook'
]

17. Slice out the first 3 companies from the array

In [4]:
itCompanies.slice(0, 3, 0)

[ 'Amazon', 'Oracle', 'IBM' ]

18. Slice out the last 3 companies from the array

In [7]:
itCompanies.slice(itCompanies.length - 3 , itCompanies.length , 0)

[ 'Microsoft', 'Google', 'Facebook' ]

19. Slice out the middle IT company or companies from the array

In [8]:
itCompanies.slice(parseInt(itCompanies.length / 2))

[ 'Apple', 'Microsoft', 'Google', 'Facebook' ]

20. Remove the first IT company from the array

In [9]:
itCompanies.shift()

'Amazon'

21. Remove the middle IT company or companies from the array

In [10]:
delete itCompanies[parseInt(itCompanies / 2)]

true

22.Remove the last IT company from the array

In [11]:
delete itCompanies[itCompanies.length]

true

23. Remove all IT companies

In [12]:
itCompanies.splice()

[]